In [1]:
import numpy as np 
import pandas as pd 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors
from sklearn.decomposition import TruncatedSVD
import sklearn.externals
import joblib
import scipy.sparse
from scipy.sparse import csr_matrix
from scipy.sparse.linalg import svds
import warnings; warnings.simplefilter('ignore')
%matplotlib inline

In [2]:
file_one = 'merged.csv'
data = pd.read_csv(file_one) 
data.head()

        date        asin            user  rating     timestamp    ts_date
0   2-Oct-13  9875851809  A33YTN2JLRR53E     5.0  1.535587e+09  8/30/2018
1   4-Sep-73  B000068NXO  A2Q8TMZVWG7M8C     5.0  1.535155e+09  8/25/2018
2   4-Sep-73  B000068NXO  A2Q8TMZVWG7M8C     5.0  1.535155e+09  8/25/2018
3  13-Oct-17  1609319745   AHH7D9X7GMN53     5.0  1.534810e+09  8/21/2018
4  28-Nov-12  1309810397  A3CB1W1O9Z57VN     5.0  1.534378e+09  8/16/2018

In [3]:
df = data[['asin', 'user', 'rating']] 
df.head()

         asin            user  rating
0  9875851809  A33YTN2JLRR53E     5.0
1  B000068NXO  A2Q8TMZVWG7M8C     5.0
2  B000068NXO  A2Q8TMZVWG7M8C     5.0
3  1609319745   AHH7D9X7GMN53     5.0
4  1309810397  A3CB1W1O9Z57VN     5.0

In [4]:
df.shape

(1042868, 3)

In [5]:
df.dtypes

asin       object
user       object
rating    float64
dtype: object

In [6]:
#Check for missing values
print('Number of missing values across columns: \n',df.isnull().sum())

Number of missing values across columns:
 asin      164917
user      164917
rating    164917
dtype: int64

In [7]:
df1= df.dropna()
df1.head()

         asin            user  rating
0  9875851809  A33YTN2JLRR53E     5.0
1  B000068NXO  A2Q8TMZVWG7M8C     5.0
2  B000068NXO  A2Q8TMZVWG7M8C     5.0
3  1609319745   AHH7D9X7GMN53     5.0
4  1309810397  A3CB1W1O9Z57VN     5.0

In [8]:
print(len(df1))

877951

In [9]:
print("Total data")
print("-"*50)
print("\nTotal no of ratings :",df1.shape[0])
print("Total No of Users   :", len(np.unique(df1.user)))
print("Total No of products  :", len(np.unique(df1.asin)))

Total data
--------------------------------------------------

Total no of ratings : 877951
Total No of Users   : 376533
Total No of products  : 16639

In [10]:
# new_df = df1.groupby("user").filter(lambda x:x['rating'].count() >=20)
# new_df.head(50)

In [ ]:
new_df = df1.head(400000)
ratings_matrix = new_df.pivot_table(values='rating', index='user', columns='asin', fill_value=0)

In [ ]:
X = ratings_matrix.T

In [ ]:
X1 = X

In [ ]:
#Decomposing the Matrix

SVD = TruncatedSVD(n_components=10)
decomposed_matrix = SVD.fit_transform(X)

In [ ]:
#Correlation Matrix

correlation_matrix = np.corrcoef(decomposed_matrix)

In [ ]:
X.index[150]

In [ ]:
i = "B00004TDA2"

product_id = list(X.index)
asin_id = product_id.index(i)

In [ ]:
correlation_asin_id = correlation_matrix[asin_id]

In [ ]:
Recommend = list(X.index[correlation_asin_id > 0.65])

# Removes the purchased item 
Recommend.remove(i) 

Recommend[0:10]